[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dataverifyr"]
	path = dataverifyr
	url = https://github.com/davzim/dataverifyr
[submodule "rbm25"]
	path = rbm25
	url = https://github.com/davzim/rbm25
[submodule "rtiktoken"]
	path = rtiktoken
	url = https://github.com/davzim/rtiktoken
