[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dataverifyr"]
	path = dataverifyr
	url = https://github.com/davzim/dataverifyr
	shallow = true
	registered = true
[submodule "RITCH"]
	path = RITCH
	url = https://github.com/davzim/ritch
	shallow = true
	registered = true
